@using IdentityToken.UI.Common.Extensions;

<div class="flex flex-col w-full h-full justify-center mx-auto p-10">
    <div class="text-2xl tracking-wide text-idt-purple w-full text-center mt-10 mb-10">Sample Identity Token Chat Room</div>
    <div class="flex w-full">
        @if (CurrentUser is not null)
        {
            <div class="flex flex-wrap content-center mr-3 w-[80px] h-[64px]">
                <span class="inline-block relative">
                    <img class="h-16 w-16 rounded-full border-solid border-4 border-idt-gray-2" src="https://ipfs.blockfrost.dev/ipfs/@(CurrentUser?.Avatar?.Replace("ipfs://", string.Empty))" alt="avatar">
                    <span class="absolute top-[3px] right-[5px] block h-3 w-3 rounded-full ring-2 ring-white bg-green-400"></span>
                </span>
            </div>
            <div class="flex flex-wrap content-center">
                <span class="inline-block align-text-middle text-idt-gray">@($"@{CurrentUser?.Username}")</span>
            </div>
            <div class="flex flex-row flex-grow w-full flex-wrap content-center">
                <span class="text-right w-full">
                    <img class="w-[28px] h-[28px] inline-block align-text-right mr-2" src="/_content/IdentityToken.UI.Common/images/logout_icon.svg" alt="logout_icon"/>
                    <span class="inline-block align-text-right text-idt-gray">logout</span>
                </span>
            </div>
        }
    </div>
    <div class="grid grid-cols-12 w-full bg-idt-gray-2 mt-5 mb-5 rounded-md min-h-[600px] shadow">
        <div class="flex col-span-9 p-5">
            <div class="flex flex-grow flex-col">
                <div class="h-[500px] overflow-auto mb-5">
                    <div class="flex items-end min-h-[600px]">
                        <ul role="list" class="divide-y divide-gray-200 w-full">
                            @foreach (var m in Messages)
                            {
                                <li class="py-2 bg-white rounded-md shadow mt-5">
                                    <div class="flex space-x-3 p-2">
                                        <span class="inline-block relative">
                                            <img class="h-12 w-12 rounded-full border-solid border-4 border-idt-gray-2" src="https://ipfs.blockfrost.dev/ipfs/@(CurrentUser?.Avatar?.Replace("ipfs://", string.Empty))" alt="avatar">
                                            <span class="absolute top-[2px] right-[4px] block h-2 w-2 rounded-full ring-2 ring-white bg-green-400"></span>
                                        </span>
                                        <div class="flex-1 space-y-1">
                                            <div class="flex items-center justify-between">
                                                <h3 class="text-sm font-medium text-idt-gray">@($"@{m.Sender?.Username}")</h3>
                                                <p class="text-sm text-idt-gray">@m.Sent.ToLocalTime().TimeAgo()</p>
                                            </div>
                                            <p class="text-sm text-idt-gray">@m.Message</p>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>

                <div class="relative flex">
                    <input @bind-value="@CurrentMessage" @onkeyup="OnCurrentMessageKeyup" type="text" placeholder="Write Something" class="w-full focus:outline-none focus:placeholder-idt-gray text-idt-gray placeholder-gray-600 pl-12 bg-white rounded-full py-3">
                    <div class="absolute right-0 items-center inset-y-0 sm:flex">
                        <button type="button" class="inline-flex items-center justify-center rounded-full h-10 w-10 transition duration-500 ease-in-out text-gray-500 hover:bg-gray-300 focus:outline-none">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6 text-gray-600">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.828 14.828a4 4 0 01-5.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                            </svg>
                        </button>
                        <button @onclick="OnBtnSendClicked" type="button" class="inline-flex items-center justify-center rounded-full h-12 w-12 transition duration-500 ease-in-out text-white bg-blue-500 hover:bg-blue-400 focus:outline-none">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-6 w-6 transform rotate-90">
                                <path d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z"></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-span-3 bg-white shadow h-[610px] overflow-auto">
            <ul role="list" class="divide-y divide-gray-200 w-full">
                <li class="py-1 mb-1">
                    <div class="flex space-x-3 p-2">
                        <span class="inline-block relative">
                            <img class="h-12 w-12 rounded-full border-solid border-4 border-idt-gray-2" src="https://ipfs.blockfrost.dev/ipfs/@(CurrentUser?.Avatar?.Replace("ipfs://", string.Empty))" alt="avatar">
                            <span class="absolute top-[2px] right-[4px] block h-2 w-2 rounded-full ring-2 ring-white bg-green-400"></span>
                        </span>
                        <div class="flex flex-1 space-y-1 content-center">
                            <div class="flex items-center justify-between">
                                <h3 class="text-sm font-medium text-idt-gray">@@ClarkAlesna</h3>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="py-1 mb-1">
                    <div class="flex space-x-3 p-2">
                        <span class="inline-block relative">
                            <img class="h-12 w-12 rounded-full border-solid border-4 border-idt-gray-2" src="https://ipfs.blockfrost.dev/ipfs/@(CurrentUser?.Avatar?.Replace("ipfs://", string.Empty))" alt="avatar">
                            <span class="absolute top-[2px] right-[4px] block h-2 w-2 rounded-full ring-2 ring-white bg-green-400"></span>
                        </span>
                        <div class="flex flex-1 space-y-1 content-center">
                            <div class="flex items-center justify-between">
                                <h3 class="text-sm font-medium text-idt-gray">@@ClarkAlesna</h3>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="py-1 mb-1">
                    <div class="flex space-x-3 p-2">
                        <span class="inline-block relative">
                            <img class="h-12 w-12 rounded-full border-solid border-4 border-idt-gray-2" src="https://ipfs.blockfrost.dev/ipfs/@(CurrentUser?.Avatar?.Replace("ipfs://", string.Empty))" alt="avatar">
                            <span class="absolute top-[2px] right-[4px] block h-2 w-2 rounded-full ring-2 ring-white bg-green-400"></span>
                        </span>
                        <div class="flex flex-1 space-y-1 content-center">
                            <div class="flex items-center justify-between">
                                <h3 class="text-sm font-medium text-idt-gray">@@ClarkAlesna</h3>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="py-1 mb-1">
                    <div class="flex space-x-3 p-2">
                        <span class="inline-block relative">
                            <img class="h-12 w-12 rounded-full border-solid border-4 border-idt-gray-2" src="https://ipfs.blockfrost.dev/ipfs/@(CurrentUser?.Avatar?.Replace("ipfs://", string.Empty))" alt="avatar">
                            <span class="absolute top-[2px] right-[4px] block h-2 w-2 rounded-full ring-2 ring-white bg-green-400"></span>
                        </span>
                        <div class="flex flex-1 space-y-1 content-center">
                            <div class="flex items-center justify-between">
                                <h3 class="text-sm font-medium text-idt-gray">@@ClarkAlesna</h3>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="py-1 mb-1">
                    <div class="flex space-x-3 p-2">
                        <span class="inline-block relative">
                            <img class="h-12 w-12 rounded-full border-solid border-4 border-idt-gray-2" src="https://ipfs.blockfrost.dev/ipfs/@(CurrentUser?.Avatar?.Replace("ipfs://", string.Empty))" alt="avatar">
                            <span class="absolute top-[2px] right-[4px] block h-2 w-2 rounded-full ring-2 ring-white bg-green-400"></span>
                        </span>
                        <div class="flex flex-1 space-y-1 content-center">
                            <div class="flex items-center justify-between">
                                <h3 class="text-sm font-medium text-idt-gray">@@ClarkAlesna</h3>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="py-1 mb-1">
                    <div class="flex space-x-3 p-2">
                        <span class="inline-block relative">
                            <img class="h-12 w-12 rounded-full border-solid border-4 border-idt-gray-2" src="https://ipfs.blockfrost.dev/ipfs/@(CurrentUser?.Avatar?.Replace("ipfs://", string.Empty))" alt="avatar">
                            <span class="absolute top-[2px] right-[4px] block h-2 w-2 rounded-full ring-2 ring-white bg-green-400"></span>
                        </span>
                        <div class="flex flex-1 space-y-1 content-center">
                            <div class="flex items-center justify-between">
                                <h3 class="text-sm font-medium text-idt-gray">@@ClarkAlesna</h3>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="py-1 mb-1">
                    <div class="flex space-x-3 p-2">
                        <span class="inline-block relative">
                            <img class="h-12 w-12 rounded-full border-solid border-4 border-idt-gray-2" src="https://ipfs.blockfrost.dev/ipfs/@(CurrentUser?.Avatar?.Replace("ipfs://", string.Empty))" alt="avatar">
                            <span class="absolute top-[2px] right-[4px] block h-2 w-2 rounded-full ring-2 ring-white bg-green-400"></span>
                        </span>
                        <div class="flex flex-1 space-y-1 content-center">
                            <div class="flex items-center justify-between">
                                <h3 class="text-sm font-medium text-idt-gray">@@ClarkAlesna</h3>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="py-1 mb-1">
                    <div class="flex space-x-3 p-2">
                        <span class="inline-block relative">
                            <img class="h-12 w-12 rounded-full border-solid border-4 border-idt-gray-2" src="https://ipfs.blockfrost.dev/ipfs/@(CurrentUser?.Avatar?.Replace("ipfs://", string.Empty))" alt="avatar">
                            <span class="absolute top-[2px] right-[4px] block h-2 w-2 rounded-full ring-2 ring-white bg-green-400"></span>
                        </span>
                        <div class="flex flex-1 space-y-1 content-center">
                            <div class="flex items-center justify-between">
                                <h3 class="text-sm font-medium text-idt-gray">@@ClarkAlesna</h3>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="py-1 mb-1">
                    <div class="flex space-x-3 p-2">
                        <span class="inline-block relative">
                            <img class="h-12 w-12 rounded-full border-solid border-4 border-idt-gray-2" src="https://ipfs.blockfrost.dev/ipfs/@(CurrentUser?.Avatar?.Replace("ipfs://", string.Empty))" alt="avatar">
                            <span class="absolute top-[2px] right-[4px] block h-2 w-2 rounded-full ring-2 ring-white bg-green-400"></span>
                        </span>
                        <div class="flex flex-1 space-y-1 content-center">
                            <div class="flex items-center justify-between">
                                <h3 class="text-sm font-medium text-idt-gray">@@ClarkAlesna</h3>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>