
<div class="flex flex-col w-full h-full justify-center mx-auto p-5 pb-10 xl:p-10 lg:pb-20">
    <div class="text-2xl tracking-wide text-idt-purple w-full text-center mt-10 mb-10">Login</div>
    <div class="flex flex-col w-11/12 md:flex-row xl:w-[650px] xl:h-[350px] max-auto bg-gradient-to-r from-[#7A60C9] to-[#4C4CE8] mx-auto rounded-md shadow">
        <div class="flex flex-1 p-10 pb-3 md:pb-10 flex-wrap content-center">
            <div class="w-9/12 max-w-[260px] xl:w-[260px] bg-white mx-auto rounded-md overflow">
                @if (!string.IsNullOrEmpty(WalletAddressQr))
                {
                    <img class="w-full h-full" src="@WalletAddressQr" alt="qr_code"/>
                }
            </div>
        </div>
        <div class="flex flex-1 w-full pt-0 pb-5 mx-auto md:mx-0 md:w-auto md:p-5 flex-wrap justify-center content-center">
            <div class="flex flex-col p-0 xl:p-2 w-full">
                <div class="mt-0 md:mt-2 mb-2 text-white text-lg px-5 r-5 text-center md:text-left">Send 1.2 ADA to login*</div>
                <div class="text-xs text-idt-gray-light-2 px-5 r-5 text-center md:text-left">
                    <span>*1 ADA will be returned, only </span>
                    <b>0.2 processing fee</b>
                    <span>is required.</span>
                </div>
                
                <div class="flex flex-col mx-5 md:mx-0 mt-5 lg:mt-10 mb-5 p-5 bg-white bg-opacity-30 rounded-md">
                    <div class="text-white text-lg text-center md:text-left">Wallet Address</div>
                    <div class="flex text-white text-lg">
                        <div class="flex-1 overflow-hidden truncate w-2 text-xs opacity-70 mr-2">@WalletAddress</div>
                        <div>
                            <button class="w-[20px] h-[20px]" @onclick="OnBtnCopyAddressClicked">
                                <img src="/_content/IdentityToken.UI.Common/images/copy_icon.svg" alt="copy" />
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="m-10 text-lg text-idt-gray text-center"><i>OR</i></div>
    <div class="flex w-full">
        <button @onclick="OnBtnConnectWithCardanoClicked" class="select-none mx-auto h-[48px] w-[250px] text-sm rounded-full bg-gradient-to-r from-[#7A60C9] to-[#4C4CE8] text-white">
            <img class="w-[30px] h-[30px] inline-block mr-2" src="/_content/IdentityToken.UI.Common/images/cardano_btn_icon.svg" alt="copy" />
            <span>Connect with Cardano</span>
        </button>
    </div>
    @if (IsLoading)
    {
        <div class="w-full h-full absolute bg-white bg-opacity-90 left-[0px]">
            <div class="flex flex-col w-full h-full justify-center items-center">
                <div style="border-top-color:transparent"
                     class="w-32 h-32 border-8 border-idt-purple border-solid rounded-full animate-spin"></div>
                <div class="w-full mt-6 text-center text-lg text-idt-purple tracking-wide font-normal">@LoadingMessage</div>   
            </div>
        </div>
    }
</div>

<Toast Message="Wallet Address copied to clipboard." IsError="@false" @bind-ShouldShow="@HasJustCopied"/>
<Toast Message="Transaction Submission failed!" IsError="@true" @bind-ShouldShow="@IsTxFailed"/>
<Toast Message="Login Success!" IsError="@false" @bind-ShouldShow="@IsLoginSuccess"/>