@page "/"


<div class="flex flex-col font-sans w-full">
    <div class="flex w-full bg-center overflow-hidden bg-no-repeat bg-cover" style="background-image: url('/_content/IdentityToken.UI.Common/images/demo_section_bg.png')">
        <div class="flex flex-col justify-center container pt-24 md:pt-28 relative">
            <div class="w-full mb-10 h-20 flex justify-center">
                <img src="/_content/IdentityToken.UI.Common/images/adaph_logo_dark.svg" alt=""/>
            </div>
            <div class="text-4xl sm:text-7xl md:text-8xl tracking-wide font-semibold text-primary text-center mb-6">IdentityToken</div>
            <div class="text-3xl sm:text-5xl tracking-wide font-normal text-primary text-center mt-6 mb-12">On Cardano</div>
            <div class="w-full mb-6 h-20 flex justify-center">
                <img class="h-full" src="/_content/IdentityToken.UI.Common/images/cardano_logo_dark.svg" alt=""/>
            </div>
            <div class="justify-center mt-12 mb-12">
                <p class="w-10/12 md:w-7/12 text-lg leading-6 md:text-xl tracking-wide md:leading-12 font-medium text-center mx-auto text-secondary">
                    Welcome to <b>IdentityToken</b>! But wait, what is it? Is it a token sale? an ICO? an NFT? <br />
                    <br />
                    <b>NO</b>, we are not selling anything!
                    <br />
                    <br />
                    <b>IdentityToken</b> is an idea, the idea of owning your identity and bringing it with you. Eliminating the need for custodians and middlemen for managing your identity. Eliminating passwords and centralized databases for authentication.
                    <br />
                    <br />
                    Using the <b>Cardano</b> Blockchain and its Native Asset feature. We are proud to present our proof of concept of the <b>IdentityToken</b> as a means of authentication.
                    <br />
                    <br />
                    In this page, you will be able to mint your own <b>IdentityToken</b> right in your browser. Without centralized servers and you will be able to receive it directly in your wallet as a <b>Cardano</b> native asset. 
                    <br />
                    <br />
                    Once minted, you will be able to prove your identity to services that will support the protocol. We provide a demo chat-service to show an example on how it could be used. But <b>IdentityToken</b> could be utilized for so much more use-cases.
                    <br />
                    <br />
                    Potential Applications: 
                        <b>NFT Ownership Tracking</b>,
                        <b>Cardano Social Media Profile</b>,
                        <b>Linking third-party service (Discord, Twitter) to your Cardano Wallet</b>,
                    the possibilities are endless!
                    <br />
                    <br />
                    We will provide a technical white-paper in the future (coming soon™), detailing the rules of the <b>IdentityToken</b> as a protocol and how to use it.
                    In the meantime you can explore out <a href="https://github.com/ADAPhilippines/IdentityToken" target="_blank"><b class="underline">GitHub</b></a> page.
                    We think it could compliment other authentication protocols like the <a href="https://oauth.net/2/" target="_blank"><b class="underline">OAuth2</u></b></a> protocol.
                    <br />
                    <br />
                    Finally, We don't expect <b>IdentityToken</b> to suddenly be the standard of authentication, we are simply sharing an idea. A glimpse of a decentralized future. A showcase of what <b>Cardano</b> can do, even without smart-contracts!
                    <br/>
                    <br/>
                    If you would like to know more, please <a href="mailto:dev.adaph.io@outlook.com"><b class="underline">contact us</b></a>.
                </p>
            </div>
            <div id="demo" class="flex flex-col rounded-md w-11/12 xl:w-8/12 bg-white bg-opacity-70 mt-10 mb-32 mx-auto overflow-hidden relative z-1 demo-panel-shadow">
                <div class="flex w-full">
                    <nav class="flex flex-grow relative z-0 shadow flex" aria-label="Tabs">
                        <div @onclick="@(() => SwitchActivePanel("mint"))"
                             class="flex-grow group relative min-w-0 flex-1 overflow-hidden bg-white py-6 px-6 text-sm font-medium text-center hover:bg-gray-50 focus:z-10 hover:cursor-pointer">
                            <span class="@GetTabTextColorClass("mint") text-lg">Mint</span>
                            <span aria-hidden="true" class="@GetTabUnderlineColorClass("mint") absolute inset-x-0 bottom-0 h-0.5"></span>
                        </div>

                        <div @onclick="@(() => SwitchActivePanel("demo"))"
                             class="flex-grow group relative min-w-0 flex-1 overflow-hidden bg-white py-6 px-6 text-sm font-medium text-center hover:bg-gray-50 focus:z-10 hover:cursor-pointer">
                            <span class="@GetTabTextColorClass("demo") text-lg">Demo</span>
                            <span aria-hidden="true" class="@GetTabUnderlineColorClass("demo") absolute inset-x-0 bottom-0 h-0.5"></span>
                        </div>
                    </nav>
                </div>
                <div class="flex w-full">
                    @if (ActivePanel == "mint")
                    {
                        <Mint MintSuccess="OnMintSuccess"/>
                    }
                    else
                    {
                        <Demo/>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="flex w-full bg-center bg-no-repeat overflow-hidden bg-cover" style="background-image: url('/_content/IdentityToken.UI.Common/images/for_dev_bg.png')">
        <div class="flex flex-col bg-transparent justify-center container py-24 relative">
            <div class="flex flex-col justify-center w-full">
                <h3 class="w-full text-4xl tracking-wide font-bold text-center text-primary">For Developers</h3>
                <div class="w-full justify-center mt-12 mb-12">
                    <p class="w-10/12 md:w-7/12 text-lg leading-6 md:text-xl tracking-wide md:leading-12 font-medium text-center mx-auto text-idt-gray">
                        Assuming you have a backend-server utilizing <b>IdentityToken</b> for authentication. Here is how the authentication flow would look like:
                    </p>
                </div>
                <div class="w-10/12 rounded-md overflow-hidden mx-auto">
                    <pre class="w-full">
                        <code class="language-csharp">// Request wallet address from the backend https://api.identity.adaph.io/identity/auth
// In OAuth2 this would be where you ask for the auth_code and specify the scope of the authentication
var WalletAddress = await AuthService.RequestLoginAsync();

// Generate QR Code DataURL
var WalletAddressQr = await HelperInteropService.GenerateQrDataUrlAsync(WalletAddress);</code>
                    </pre>
                </div>
                <div class="w-full justify-center mt-12 mb-12">
                    <p class="w-10/12 md:w-7/12 text-lg leading-6 md:text-xl tracking-wide md:leading-12 font-medium text-center mx-auto text-idt-gray">
                        We can only prove that the user owns a wallet with <b>IdentityTokens</b> when the user sends some ADA to the presented wallet address. 
                        This will be equivalent to a user approving consent of the authentication or submitting his username and password to the system.
                    </p>
                </div>
                <div class="w-10/12 rounded-md overflow-hidden mx-auto">
                    <pre class="w-full">
                        <code class="language-csharp">//Check with the backend if the user sent some ADA and has proven to have an <b>IdentityToken</b>
// If true, the identity is returned and can be saved into some form storage for later use.
// https://api.identity.adaph.io/identity/token/[Cardano Wallet Address]
var identity = await AuthService.Authorize(WalletAddress);
await LocalStorageService.SetItemAsync("identity", identity);</code>
                    </pre>
                </div>
                <div class="w-full justify-center mt-12 mb-12">
                    <p class="w-10/12 md:w-7/12 text-lg leading-6 md:text-xl tracking-wide md:leading-12 font-medium text-center mx-auto text-idt-gray">
                        The response would be similar shape to an OAuth2 response with "Key" property value passed to sub-sequent API requests to prove access.
                    </p>
                </div>
                <div class="w-10/12 rounded-md overflow-hidden mx-auto">
                    <pre class="w-full">
                        <code class="language-json">{
    "Id": "4ec816a1-43c4-4da6-82ce-5e2fe28ca8fa",
    "Key": "1c6e772d2eb772d2eb772d2eb772d2eb06439eb",
    "ExpiresIn": 31536000,
    "DateCreated": "2021-09-12T08:42:34.9883618Z",
    "Avatar": "QmTobJML2HhDJvKu3HhDJvKu3HhDJvKu3HhDJvKu3u3zKH",
    "PolicyId": "6f15ae31bc04bde79adda0ccc8aface1bc04bde79a899fa",
    "AssetName": "IDMyName",
    "Username": "MyName"
}</code>
                    </pre>
                </div>
                <div class="w-full justify-center mt-12 mb-12">
                    <p class="w-10/12 md:w-7/12 text-lg leading-6 md:text-xl tracking-wide md:leading-12 font-medium text-center mx-auto text-idt-gray">
                        One could mint an <b>IdentityToken</b> in the <b>Cardano</b> blockchain with this proposed metadata:
                    </p>
                </div>
                <div class="w-10/12 rounded-md overflow-hidden mx-auto">
                    <pre class="w-full">
                        <code class="language-json">{
 // 7368 is ASCII decimal value for the string ID (I = 73, D = 68)
  "7368": {
    // PolicyId
    "6f15ae31bda0ccc853dc8268c04bde79ada0ccc8afacea675899fa": {
      // IdentityToken AssetNames must have ID string as a prefix
      "IDMyName": {
        "avatar": {
          // Avatar file used protocol
          "protocol": "ipfs",
          // Resource Locator
          "src": "QmTobJML2HhDJvKu3HhDJvKu3HhDJvKu3HhDJvKu3u3zKH"
        }
      }
    }
  }
}</code>
                    </pre>
                </div>
            </div>
        </div>
    </div>
    <div class="flex w-full bg-idt-green-darkest">
        <div class="flex flex-col justify-center container pt-8 md:py-8 relative overflow-hidden">
            <div class="flex h-20 md:h-24">
                <div class="flex w-6/12 sm:w-3/12 sm:flex-grow lg:flex-grow-0 h-full lg:pr-10 sm:border-r sm:border-r-[#2A3849] justify-center">
                    <img class="h-full" src="/_content/IdentityToken.UI.Common/images/developed_by_adaph.svg" alt=""/>
                </div>
                <div class="flex w-6/12 sm:w-3/12 sm:flex-grow lg:flex-grow-0 h-full lg:pl-10 justify-center">
                    <img class="h-full" src="/_content/IdentityToken.UI.Common/images/powered_by_cardano.svg" alt=""/>
                </div>
                <div class="h-full px-10 items-center justify-center text-center hidden lg:flex lg:flex-grow">
                    <span class="font-light text-sm md:text-md text-idt-gray-light">© 2021 ADAPH. All rights reserved.</span>
                </div>
                <div class="flex w-3/12 sm:flex-grow lg:flex-grow-0 h-full lg:pr-10 items-center justify-center border-r border-r-[#2A3849] hidden sm:flex">
                    <a href="" class="font-light text-sm md:text-md text-idt-gray-light text-center">Terms of Use</a>
                </div>
                <div class="flex w-3/12 sm:flex-grow lg:flex-grow-0 h-full lg:pl-10 items-center justify-center hidden sm:flex">
                    <a href="" class="font-light text-md text-idt-gray-light text-center">Privacy Policy</a>
                </div>
            </div>
            <div class="flex h-24 sm:hidden mt-8 border-t border-t-[#2A3849]">
                <div class="flex w-6/12 sm:flex-grow lg:flex-grow-0 h-full lg:pr-10 items-center justify-center">
                    <a href="" class="font-light text-sm md:text-md text-idt-gray-light text-center">Terms of Use</a>
                </div>
                <div class="flex w-6/12 sm:flex-grow lg:flex-grow-0 h-full lg:pl-10 items-center justify-center">
                    <a href="" class="font-light text-md text-idt-gray-light text-center">Privacy Policy</a>
                </div>
            </div>
            <div class="flex h-24 lg:hidden mt-0 sm:mt-8 border-t border-t-[#2A3849]">
                <div class="flex w-full h-full px-10 items-center justify-center text-center">
                    <span class="font-light text-sm md:text-md text-idt-gray-light">© 2021 ADAPH. All rights reserved.</span>
                </div>
            </div>
        </div>
    </div>
</div>